<% content_for :aside do %>
  <%= partial "student_filters" %>
<% end %>

<% content_for :article do %>
  <ul class="students-thumbs">
    <%= partial "thumbnail/student", collection: Student.all %>
  </ul>

  <div style="clear: both;"></div>

  <ul class="students">
    <%= partial "summary/student", collection: Student.all %>
  </ul>
<% end %>